In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
mydf = pd.read_csv('./homeprices.csv')

In [6]:
mydf.head(10)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
df1  = mydf["bedrooms"].mean()
mydf['bedrooms'].fillna(value=df1, inplace=True)

In [8]:
X = mydf.iloc[:,:-1]

In [9]:
X

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.2   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [10]:
y = mydf.iloc[:,3:4]

In [11]:
y

    price
0  550000
1  565000
2  610000
3  595000
4  760000
5  810000

In [12]:
from sklearn.model_selection import train_test_split

In [13]:

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [18]:

#Defining MAPE function
def MAPE(Y_actual,Y_Predicted):
    mape = np.mean(np.abs((Y_actual - Y_Predicted)/Y_actual))*100
    return mape

In [19]:
X_test

   area  bedrooms  age
2  3200       4.2   18
5  4100       6.0    8

In [20]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [23]:
y_pred = clf.predict(X_test)

# Finding MAPE

In [24]:
# Using MAPE error metrics to check for the error rate and accuracy level
LR_MAPE= MAPE(y_test,y_pred)
print("MAPE: ",LR_MAPE)

MAPE:  price    19.827616
dtype: float64