In [10]:
import numpy as np
import pandas as pd

In [18]:
list1=['iris','rose','apple','banana','banana','rose']

In [19]:
data=pd.DataFrame(list1,columns=['anki'])

In [20]:
data

     anki
0    iris
1    rose
2   apple
3  banana
4  banana
5    rose

In [21]:
from sklearn.preprocessing import LabelEncoder
#
# Instantiate LabelEncoder
#
le = LabelEncoder()
#
# Encode single column status
#
data['code'] = le.fit_transform(data.anki)
#
# Print df.head for checking the transformation
#

In [22]:
data

     anki  code
0    iris     2
1    rose     3
2   apple     0
3  banana     1
4  banana     1
5    rose     3

In [25]:
data.drop_duplicates( inplace = True)

In [35]:
data

     anki  code
0    iris     2
1    rose     3
2   apple     0
3  banana     1

In [40]:
p=3
p1=data[data.code.isin([p])]

In [41]:
print(p1['anki'])

1    rose
Name: anki, dtype: object